POSTGRES_DB=neondb
POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=replace-with-your-neon-password
APP_FRONTEND_URL=https://your-codespace-name-1455.app.github.dev
JWT_SECRET=change-me-super-secret-key-change-me-super-secret-key
JWT_EXPIRATION=3600000
REFRESH_TOKEN_EXPIRATION=1209600000
