POSTGRES_DB=personal_finance_tracker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
APP_FRONTEND_URL=http://localhost:5173
JWT_SECRET=change-me-super-secret-key-change-me-super-secret-key
JWT_EXPIRATION=3600000
REFRESH_TOKEN_EXPIRATION=1209600000
