subscription_id           = "00000000-0000-0000-0000-000000000000"
environment_name          = "production"
location                  = "eastus2"
project_name              = "personalfin"
backend_image_repository  = "backend"
initial_image_tag         = "latest"
container_app_min_replicas = 3
container_app_max_replicas = 12
container_app_http_concurrency = 100
springdoc_enabled         = false
enable_front_door         = true
alert_email_address       = "alerts@example.com"

tags = {
  business-unit = "finance"
  cost-center   = "saas-platform"
}
