subscription_id           = "00000000-0000-0000-0000-000000000000"
environment_name          = "staging"
location                  = "eastus2"
project_name              = "personalfin"
backend_image_repository  = "backend-staging"
initial_image_tag         = "latest"
container_app_min_replicas = 2
container_app_max_replicas = 6
container_app_http_concurrency = 75
springdoc_enabled         = true
enable_front_door         = true
alert_email_address       = "alerts@example.com"

tags = {
  business-unit = "finance"
  cost-center   = "saas-platform"
}
